.main-wrapper {
    padding: 20px;
}

.title-and-logo {
    display: flex;
    align-items: center;
}

.title-and-logo img {
    height: 50px;
    width: 50px;
}

.title-and-logo h1 {
    font-family: sans-serif;
    color: maroon;
}